body {
  background-color: rgb(62, 55, 91);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
}

.main-container {
  display: inline;
  position: absolute;
  border: none;
  width: 820px;
  height: 570px;
  margin-left: 350px;
  margin-top: 70px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-radius: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.image-back {
  display: block;
  width: 820px;
  height: 570px;
  border-radius: 30px;
}

.title {
  position: absolute;
  left: 250px;
  top: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
  color: rgb(204, 224, 244);
}

.title:hover {
  transition: 1s;
  border: none rgb(149, 141, 195);
  border-radius: 40px;
  background-color: rgb(149, 141, 195);
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(204, 224, 244);
}

.click {
  position: absolute;
  width: 150px;
  height: 60px;
  font-size: 40px;
  margin-top: 450px;
  margin-left: 335px;
  background-color: rgb(161, 156, 189);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(72, 93, 111);
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.a { 
  color: inherit;
  text-decoration: none;
}